html {
    font-family: sofia-pro, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    line-height: 1.5;
  }
  
  body {
    margin: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: inherit;
    -moz-text-size-adjust: inherit;
  }
  
  .design {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  .main-page {
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0px;
  }
  
  .first-sect {
    box-sizing: border-box;
    margin: 0px 0px -8px;
    min-width: 0px;
    background-image: url(assets/waves-2198764_640.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    border-radius: 9px;
    padding-bottom: 0;
  }
  
  .header-page {
    border-bottom: 1px solid rgb(1, 13, 19);
    min-height: 68px;
    min-width: 0px;
    display: block;
    box-sizing: border-box;
    margin: 0;
    align-items: center;
    border-radius: 9px;
    justify-content: space-between;
    -webkit-box-align: center;
  }
  
  a {
    background-color: transparent;
    color: #f4667e;
  }
  
  .logo {
    box-sizing: border-box;
    display: inline-flex;
    min-width: 0px;
    margin: 14px;
    cursor: pointer;
  }
  
  .img-logo {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    height: 31px;
    border-style: none;
    border-radius: 9px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .h1-logo {
    margin: 0;
    min-width: 0px;
    border: 0;
    font-size: 17px;
    line-height: -6px;
    float: right;
    color: black;
  }
  
  .nav-items {
    min-width: 0px;
    height: 0px;
    margin: 0px 0px 0px 14rem;
    align-items: center;
  }
  
  .nav-list {
    color: whitesmoke;
    min-width: 0px;
    margin: -1rem;
    padding: 29px;
  }
  
  .nav-list a {
    color: whitesmoke;
    text-decoration: none;
    overflow: hidden;
  }
  
  .nav-link {
    box-sizing: border-box;
    margin: 8px;
    margin-right: 0px;
    display: inline;
    justify-content: space-between;
    min-width: 0px;
    font-family: sofia-pro, sans-serif;
    font-size: 13px;
    line-height: 1.2;
    align-items: center;
    border-radius: 9px;
    font-weight: 400;
    background-image: linear-gradient(to right, #004aad, #cb6ce6);
    transition: background 0.3s ease 0s;
    padding: 5px;
    cursor: pointer;
    min-height: 0px;
    color: #fff;
    position: absolute;
    right: 5px;
  }
  
  .nav-link:hover {
    background-color: #004aad;
    color: rgb(255, 255, 255);
  }
  
  .nav-link:active {
    background-color: rgb(142, 152, 157);
    color: rgb(255, 255, 255);
  }
  
  .nav-link:focus {
    background-color: rgb(142, 152, 157);
    color: rgb(255, 255, 255);
  }
  
  .nav-link:visited {
    background-color: rgb(142, 152, 157);
    color: rgb(255, 255, 255);
  }
  
  .second-sect {
    border: border-box;
    margin: 3px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 372px;
    padding-bottom: 89px;
    padding-top: 40px;
  }
  
  
  
  .h1-title {
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 1rem;
    width: 100%;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: #0d0d0d;
  }
  
  em {
    color: #874893;
  }
  
  
  .paragraph-head {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: -15px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  
  .paragraph {
    font-size: 32px;
    font-family: monospace;
    font-weight: 800;
    ;
    width: 100%;
    cursor: pointer;
  }
  
  
  #p2 {
    color: #004aad;
  
  }
  
  .third-sect {
    margin: 0;
    min-width: 0;
    box-sizing: border-box;
    display: block;
  }
  
  .third-sect-sub {
    margin: 0;
    min-width: 0;
    box-sizing: border-box;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  
  .h2-sub {
    box-sizing: border-box;
    margin: 0.5rem 0px 0px;
    min-width: 0px;
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
  }
  
  #gradient-text {
    background-image: linear-gradient(to right, #004aad, #cb6ce6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  .third-sect-sub {
    margin: 9px 0px 0px;
    min-width: 0;
  }
  
  .third-sect-sub-img {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(assets/istockphoto-1393018012-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    border-radius: 100%;
    background-position: center;
  }
  
  
  .streams {
    box-sizing: border-box;
    max-width: 767px;
    margin: 0;
    margin-top: 73px;
  }
  
  .h2-sub-stream {
    float: left;
    color: #6ca2d5;
    margin-right: 20rem;
    padding-top: 0rem;
  }
  
  .stream-sub {
    box-sizing: border-box;
    min-width: 0px;
    margin: 20px 0px 0px 0px;
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;
    color: rgb(19, 111, 231);
  }
  
  .stream-sub-2 {
    box-sizing: border-box;
    margin: 1.5rem 0px 0px;
    min-width: 0px;
    font-weight: 400;
    font-size: 2rem;
    color: rgb(8, 68, 125);
    align-items: center;
    line-height: 1.6;
    font-family: cursive;
  }
  
  
  
  
  .button-stream {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 36px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 24px;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;
    transition: border 0.3s ease 0s, color 0.3s ease 0s, background 0.3s ease 0s;
    height: 44px;
    margin-top: 2rem;
    letter-spacing: 0.06em;
    border: none;
    background-image: linear-gradient(to right, #004aad, #cb6ce6);
    color: rgb(48, 48, 48);
  }
  
  .button-stream:hover {
    background-color: rgb(115, 105, 48);
    color: rgb(48, 48, 48);
  }
  
  .fourth-sect {
    box-sizing: border-box;
    margin: 100px 0px 0px;
    min-width: 0px;
    display: block;
  }
  
  .fourth-sect-sub {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
  
  .fourth-sect-sub-h2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .h4-sub {
    box-sizing: border-box;
    margin: 0.5rem 0px 0px;
    min-width: 0px;
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 28px;
    text-align: center;
  }
  
  .fourth-sect-sub-blog {
    box-sizing: border-box;
    margin: 1.5rem 0px 0px;
    min-width: 0px;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(48, 48, 48);
    line-height: 1.6;
    text-align: center;
  }
  
  .link {
    color: #10163d;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease 0s;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid grey;
  
  }
  
  
  
  .fourth-sect-sub-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin: 2.5rem 0px 0px;
    min-width: 0px;
    padding: 0px;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  
  .fourth-sect-sub-list-item {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: list-item;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .article-list {
    display: grid;
    border-radius: 16px;
    min-height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    min-width: 0;
    background-color: rgb(255, 255, 255);
  }
  
  .article-list-img {
    height: 327px;
    background-image: url(assets/20230517_004524_0003.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
  
  }
  
  .article-list-img-2 {
    height: 327px;
    background-image: url(assets/20230517_010126_0000.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
  
  }
  
  .article-list-img-3 {
    height: 327px;
    background-image: url(assets/istockphoto-1051617224-612x612.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
  
  }
  
  .article {
    background-image: url(assets/istockphoto-537449510-612x612.jpg);
    border-radius: 5px;
  }

  .article2 {
  background-image: url(assets/background-2462430_640.webp);
  text-align: center;
  align-items: center;
}

  
  
  .h3-list {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: rgb(48, 83, 223);
  }
  
  .p-sub-test {
    font-family: cursive;
    text-decoration: underline #fff;
  }
  
  .p-sub-test-2 {
    font-family: monospace;
    font-size: 32px;
  }
  
  .fifth-sect-sub-h2-text {
    text-decoration: none;
    font-family: sofia-pro, sans-serif;
    align-items: center;
    font-weight: 200;
    color: #5b5757;
  }
  
  
  .p-list {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    display: -webkit-box;
    color: rgb(113, 116, 122);
  }
  
  .article-link {
    display: flex;
    margin: 0;
    min-width: 0;
    justify-content: flex-start;
    flex-direction: row;
  
  }
  
  .fifth-sect-sub {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin: 2.5rem 0px 0px;
    min-width: 0px;
    padding: 0px;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  
  .sixth-sect-sub {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin: 2.5rem 0px 0px;
    min-width: 0px;
    padding: 0px;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  
  }
  
  .button-list {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    flex-flow: row nowrap;
    font-size: 0.75rem;
    cursor: pointer;
    letter-spacing: 0.96px;
    color: rgb(46, 85, 148);
    background-color: transparent;
    border-radius: 23px;
    text-decoration: none;
    transition: color 0.3s ease 0s;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .foot {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    border-radius: 9px;
    padding-bottom: 7rem;
    background-color: rgb(54, 48, 48);
    padding: 2rem;
  
  }
  
  /*media screen foot-sub*/
  
  .foot-sub {
    box-sizing: border-box;
    margin: 0px 0px 90px;
    width: 100%;
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
  }
  
  .foot-sub-h2 {
    margin: 0;
    min-width: 0;
  }
  
  .foot-sub-h3 {
    margin: 0;
    min-width: 0;
  }
  
  .foot-sub-h4 {
    margin: 0;
    min-width: 0;
  }
  
  .foot-sub-head {
    box-sizing: border-box;
    margin: 20px 0px 0px;
    min-width: 0px;
    font-family: sofia-pro, sans-serif;
    line-height: 1.6;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  
  .foot-sub-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin: 1.5rem 0px 0px;
    list-style: none;
    padding: 0;
  }
  
  .link0 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    transition: color 0.3s ease 0s;
    color: rgb(222, 224, 227);
    cursor: pointer;
    text-decoration: none;
  }
  
  .foot-icon {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    text-decoration: none;
  }
  
  .foot-sub-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    border: 0;
    min-width: 0px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    transition: color 0.3s ease 0s;
    font-weight: 600;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .foot-sub-icon i {
    color: #6579c8;
    font-size: 1.25rem;
  }
  
  .form-content {
    min-height: 100%;
    background-image: url(assets/abstract-3304213_960_720.png);
    margin: 4px;
    margin-bottom: 23px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
  }
  
  .form-action {
    font-weight: 600;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: darkcyan;
  }
  
  .error {
    color: red;
    font-size: 22px;
    margin-top: 5px;
  }
  
  .form-questions {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  
  
  .form-group {
    display: inline-flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    line-height: 1.8;
  
  }
  
  input {
    padding: 8px;
    margin: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
  }
  
  input,
  radio {
    color: darkcyan;
  }
  
  .header-signup-page {
    background-image: linear-gradient(to right, #8f9194, #d4cdd6);
    padding: 0rem;
    border-radius: 9px;
  }
  
  .submit-action {
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    font-weight: 500;
    max-height: 45px;
    font-family: Work Sans, sans-serif;
    font-size: 16px;
    margin-top: 1rem;
    background: #433c44;
    color: white;
    white-space: nowrap;
    padding: 0.7em 23px;
  }
  
  iframe {
    margin-top: 9px;
    border-radius: 9px;
    border: 2px solid #d651c5;
    width: 100vw;
    z-index: -1;
  }
  
  .blog-post {
    background-image: url(assets/balloon-blog-279205_960_720.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    border: 2px solid gray;
    margin-bottom: 19px;
    margin-top: 19px;
  }
  
  .header-blog-page {
    background-image: linear-gradient(to right, #3b697d, #4c448d);
    padding: 0rem;
    border-radius: 9px;
  }
  
  
  .img-lpage {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(assets/cute-3045126_640.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    border-radius: 9px;
    background-position: center;
  
  }
  
  .img-l2page {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(assets/pencil-6107347_640.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    border-radius: 9px;
    background-position: center;
  
  }
  
  @media screen and (max-width: 767px) {
  
    .body {
      width: 100%;
  
    }
  
    .design {
      margin-left: 0;
      margin-right: 0;
      max-width: 767px;
    }
  
    .header-page {
      width: 100%;
      border: 0;
      flex-direction: column;
    }
  
  
    .first-sect {
      padding-top: 8px;
      padding-left: 40px;
      padding-right: 40px;
      height: 100vh;
    }
  
    .nav-items {
      margin: 0 auto;
    }
  
    .nav-list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
    }
  
    .nav-link {
      margin: 0 0 0 14px;
    }
  
    .second-sect {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  
  
  
    .paragraph {
      font-size: 22px;
      margin-left: -60px;
    }
  
    .third-sect {
      padding-top: 8px;
    }
  
    .h2-sub {
      font-size: 48px;
      align-items: center;
    }
  
    .third-sect-sub-img {
      width: 80%;
      margin-left: 2.5rem;
    }
  
    .stream {
      padding: 16px;
    }
  
    .h2-sub-stream {
      font-size: 24px;
      margin-bottom: 8px;
      margin-right: 23px;
    }
  
    .stream-sub {
      font-size: 16px;
      margin-bottom: 8px;
    }
  
    .fourth-sect-sub-list {
      padding-left: 0px;
      padding-right: 0px;
    }
  
    .p-list {
      max-width: 100%;
      height: 100%;
    }
  
    .article {
      padding-left: 80px;
      padding-right: 80px;
    }
  
    .article2 {
      padding-left: 80px;
      padding-right: 80px;
    }
  
  
    .foot {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .foot-sub-head {
      font-size: 10px;
      margin-bottom: 8px;
    }
  
    .link0 {
      font-size: 10px;
    }
}
